#dropdown{
    display: none;
}
@media screen and (max-width:576px) {
    #dropdown{
        display: block;
    }
}
table tr td a{
    text-decoration: none;
    color: black;
}
#td_val{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}