* {
    padding: 0%;
    margin: 0%;
}
body{ 
    /*padding-left: 3%;
    padding-right: 3%;*/
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#header nav ul {
    width: 110px;
    display: flex;
    justify-content: space-between;
}
#header nav ul li{
    display: inline;
}
#header nav ul li a{
   font-size: 18px;
   color: blue;
}
footer{
    background-color:#302d2e;
}
#card img:hover{
    transform: scale(1.1);
}
#card img{
   display: block;
}
@media only screen  and (max-width:767px){
    #card{
        width: 100%;
       /* background-color: #302d2e;*/
    }
    
}
@media only screen and (min-width:767px){
    #card{
        width: 16rem;
        /*background-color: #ac1b4b;*/
    }
    
}