* {
    padding: 0%;
    margin: 0%;
}
body{ 
    /*padding-left: 3%;
    padding-right: 3%;*/
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#header nav ul {
    width: 110px;
    display: flex;
    justify-content: space-between;
}
#header nav ul li{
    display: inline;
}
#header nav ul li a{
   font-size: 18px;
   color: blue;
}

footer{
    background-color:#263238;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.display-6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}

.newproducts img:hover{
    transition-duration: 2s;
    transform: scale(1.1);
}
.newproducts span{
    font-size: 18px;
    margin-top: 2%;
}
#span-container span{
    color: #282d32;
    text-decoration: none;
}
#span-container{
    text-decoration: none;
}

.banner{
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    z-index: 0;
}
.banner .img{
    flex: 1 1 300px;
}
.banner .img img{
    margin-top: 30px;
    width: 100%;
}
.banner .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.banner .content h1{
    color: #263238;
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.banner .content h1 span{
    color: #263238;
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #ffc800;
}
.banner .content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(34, 35, 50);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: rgb(121, 125, 181);
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .banner{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .banner{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .banner{
        height: 190vh;
    }
}
@media screen and (max-width:420px){
   .banner .content h1{
    font-size: 45px;
    
   }
}
@media screen and (max-width:320px){
   .banner .content h1{
    font-size: 36px;
   }
}
#banner2 div .btn button:hover{
    background-color: rgb(225, 236, 23);
    color: black;
    border: none;
}

html{
    scroll-behavior: smooth;
}

/*1*/
.card-img-top-200 {
    overflow: hidden;
    max-height: 200px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1;

}

@media screen and (max-width:1200px){
    #banner{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    #banner{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    #banner{
        height: 190vh;
    }
}
@media screen and (max-width:420px){
   #banner .content h1{
    font-size: 45px;
    
   }
}
@media screen and (max-width:320px){
   #banner .content h1{
    font-size: 36px;
   }
}
#offer{
    margin-top: 100px;
}
#offer i{
    font-size: 32px;
    color: black;
}

#offer{
    margin-top: 50px;
}
#offer i{
    font-size: 32px;
    color: black;
}
/*1*/







